body{
    background-color: white;
    color: black;
    margin: 0;
    padding: 0;
}

#layout{
    display: grid;
    grid-template-areas: 
    'top'
    'meio'
    'footer';
   /* grid-template-rows: 50px 100% 25px; */
}

#footer{
    grid-area: footer;
    background: blue;
    height: 200px;
}
#meio{
    grid-area: meio;
    background: red;
    height: auto;
    display: grid;
    

}
#top{
    grid-area: top;
    background: green;
    height: 100px;
}

#meio div{
text-align: center;
margin:  10px auto;
width: 25px;
background-color: pink;



}

